body {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 1000px;
  width: 90%;
}

.header {
  height: 20%;
  width: 90%;
  background-color: brown;
}
.main {
  top: 20px;
  position: relative;
  display: flex;
  height: 60%;
  width: 90%;
}
.nav {
  background-color: red;
  width: 30%;
}
.article {
  background-color: yellow;
  margin-left: 20px;
  width: 70%;
}
.footer {
  top: 40px;
  position: relative;
  display: flex;
  background-color: blueviolet;
  height: 20%;
  width: 90%;
}
