

body {
  height: 1000px; 
  display: flex;
  flex-direction: row;
  /* row column row-reverse column-reverse */
  justify-content: center;
  /* 주축 */
  align-items: center;
  /* 교차축 */
  /* 세로축은 부모가 자식보다 클땨 이게 비교가능하다. */
}

/* 
static : 기본



*/


div {width: 200px;height: 200px; background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second { background-color: blue;}





